<%= form_with(model: todo, id: "#{dom_id(todo)}_form") do |form| %>
<% if todo.errors.any? %>
    <div class="alert alert-danger">
      <h5><%= pluralize(todo.errors.count, "error") %> prohibited this todo from being saved:</h5>

      <ul>
        <% todo.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
<div class="card">
  <div class="card-body">

    <div class="mb-3">
      <%= form.label :title, { class: "form-label"} %>
      <%= form.text_field :title, { class: "form-control", placeholder: "Add item" } %>
    <!-- </div> -->

    <%= form.submit "Submit", class: "btn btn-success btn-sm" %>

  </div>
</div>
<% end %>