<div id="<%= "#{dom_id(todo)}_item" %>">
  <p>
    <!-- <strong>Title:</strong> -->
    <div class="card card-body">
      <div class="d-flex flex-row">
        <%= turbo_frame_tag dom_id(todo) do %>
          <span class="p-1"><strong><%= todo.title %></strong></span>
          <span class="p-1"><%= link_to "Edit", edit_todo_path(todo), class: "btn btn-warning btn-sm" %></span>
          <span class="button-inline"><%= button_to "Delete", todo_path(todo), method: :delete, class: "btn btn-danger btn-sm" %></span> 
        <% end %>
      </div>
    </div> 
  </p>
</div>
