<div id="<%= "#{dom_id(todo)}_item" %>">
  <p>
    <!-- <strong>Title:</strong> -->
    <%= turbo_frame_tag dom_id(todo) do %>
      <%= todo.title %>
      <%= link_to "Edit", edit_todo_path(todo) %>
      <%= button_to "Delete", todo_path(todo), method: :delete %>
    <% end %>
  </p>
</div>
